In [1]:
#import dependencies

import pandas as pd
import numpy as np

from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
#read the file
file_to_load = "Resources/sephora_website_dataset.csv"
df=pd.read_csv(file_to_load)
df

,id,brand,category,name,size,rating,number_of_reviews,love,price,value_price,...,MarketingFlags,MarketingFlags_content,options,details,how_to_use,ingredients,online_only,exclusive,limited_edition,limited_time_offer
0,2218774,Acqua Di Parma,Fragrance,Blu Mediterraneo MINIATURE Set,5 x 0.16oz/5mL,4.0,4,3002,66.0,75.0,...,True,online only,no options,This enchanting set comes in a specially handc...,Suggested Usage:-Fragrance is intensified by t...,Arancia di Capri Eau de Toilette: Alcohol Dena...,1,0,0,0
1,2044816,Acqua Di Parma,Cologne,Colonia,0.7 oz/ 20 mL,4.5,76,2700,66.0,66.0,...,True,online only,- 0.7 oz/ 20 mL Spray - 1.7 oz/ 50 mL Eau d...,An elegant timeless scent filled with a fresh-...,no instructions,unknown,1,0,0,0
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,5 oz/ 148 mL,4.5,26,2600,180.0,180.0,...,True,online only,- 1oz/30mL Eau de Toilette - 2.5 oz/ 74 mL E...,Fragrance Family: Fresh Scent Type: Fresh Citr...,no instructions,Alcohol Denat.- Water- Fragrance- Limonene- Li...,1,0,0,0
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,2.5 oz/ 74 mL,4.5,23,2900,120.0,120.0,...,True,online only,- 1 oz/ 30 mL Eau de Toilette Spray - 2.5 oz/...,Panarea near Sicily is an an island suspended ...,no instructions,unknown,1,0,0,0
4,2218766,Acqua Di Parma,Fragrance,Colonia Miniature Set,5 x 0.16oz/5mL,3.5,2,943,72.0,80.0,...,True,online only,no options,The Colonia Miniature Set comes in an iconic A...,Suggested Usage:-Fragrance is intensified by t...,Colonia: Alcohol Denat.- Water- Fragrance- Lim...,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9163,2208502,SEPHORA COLLECTION,Face Masks,The Rose Gold Mask,no size,2.0,15,6200,6.0,6.0,...,True,limited edition · exclusive,no options,What it is: A limited-edition- nurturing and h...,Suggested Usage:-Unfold the mask.-Apply the ma...,-Rose Quartz Extract: Hydrates dry skin. Aqua...,0,1,1,0
9164,2298909,SEPHORA COLLECTION,Lip Sets,Give Me Some Sugar Colorful Gloss Balm Set,3 x 0.32 oz/ 9 g,0.0,0,266,15.0,27.0,...,True,exclusive,no options,What it is: A set of three bestselling Colorfu...,Suggested Usage:-Apply directly to lips using ...,Colorful Gloss Balm Wanderlust: Hydrogenated P...,0,1,0,0
9165,2236750,SEPHORA COLLECTION,Tinted Moisturizer,Weekend Warrior Tone Up Cream,0.946 oz/ 28 mL,0.0,0,445,16.0,16.0,...,True,exclusive,no options,What it is: A weightless complexion booster- i...,Suggested Usage:-Use this product as the last ...,Aqua (Water)- Dimethicone- Isohexadecane- Poly...,0,1,0,0
9166,50,SEPHORA COLLECTION,no category,Gift Card,no size,5.0,46,0,50.0,50.0,...,False,0,no options,What it is:- Available in denominations of $10...,no instructions,unknown,0,0,0,0
9167,304,SEPHORA COLLECTION,no category,Happy Birthday Gift Card,no size,0.0,0,0,50.0,50.0,...,False,0,no options,What it is:\n- Available in denominations of $...,no instructions,unknown,0,0,0,0

In [3]:
#view the central tendencies of all the columns
df.describe()

,id,rating,number_of_reviews,love,price,value_price,online_only,exclusive,limited_edition,limited_time_offer
count,9.168000e+03,9168.000000,9168.000000,9.168000e+03,9168.000000,9168.00000,9168.000000,9168.000000,9168.000000,9168.000000
mean,1.962952e+06,3.990020,282.139180,1.627859e+04,50.063237,51.82359,0.234839,0.264725,0.091841,0.000327
std,3.859714e+05,1.007707,890.642028,4.260651e+04,47.164989,49.45902,0.423921,0.441211,0.288817,0.018087
min,5.000000e+01,0.000000,0.000000,0.000000e+00,2.000000,2.00000,0.000000,0.000000,0.000000,0.000000
25%,1.819453e+06,4.000000,10.000000,1.600000e+03,24.000000,25.00000,0.000000,0.000000,0.000000,0.000000
50%,2.072354e+06,4.000000,46.000000,4.800000e+03,35.000000,35.00000,0.000000,0.000000,0.000000,0.000000
75%,2.230591e+06,4.500000,210.000000,1.380000e+04,59.000000,60.00000,0.000000,1.000000,0.000000,0.000000
max,2.359685e+06,5.000000,19000.000000,1.300000e+06,549.000000,549.00000,1.000000,1.000000,1.000000,1.000000

In [4]:
#examine the data types
df.dtypes

id                          int64
brand                      object
category                   object
name                       object
size                       object
rating                    float64
number_of_reviews           int64
love                        int64
price                     float64
value_price               float64
URL                        object
MarketingFlags               bool
MarketingFlags_content     object
options                    object
details                    object
how_to_use                 object
ingredients                object
online_only                 int64
exclusive                   int64
limited_edition             int64
limited_time_offer          int64
dtype: object

In [5]:
#examine the columns
df.columns

Index(['id', 'brand', 'category', 'name', 'size', 'rating',
       'number_of_reviews', 'love', 'price', 'value_price', 'URL',
       'MarketingFlags', 'MarketingFlags_content', 'options', 'details',
       'how_to_use', 'ingredients', 'online_only', 'exclusive',
       'limited_edition', 'limited_time_offer'],
      dtype='object')

In [6]:
#test for granularity/primary key
df["URL"].nunique()

9168

In [7]:
#any nans?
df.isna().sum().sum()

0

In [8]:
#any duplicates?
duplicates=df[df.duplicated()]
duplicates

Empty DataFrame
Columns: [id, brand, category, name, size, rating, number_of_reviews, love, price, value_price, URL, MarketingFlags, MarketingFlags_content, options, details, how_to_use, ingredients, online_only, exclusive, limited_edition, limited_time_offer]
Index: []

[0 rows x 21 columns]

In [9]:
#find duplicate ids
#search for double company id entries
df["id"].nunique()
df["id"].value_counts()

1973841    2
1164805    2
2087047    2
2118982    2
1901859    2
          ..
2016707    1
2340156    1
1758465    1
2321719    1
2152445    1
Name: id, Length: 9115, dtype: int64

In [10]:
#investigate duplicate id numbers
duplicate_ids=df[df["id"].duplicated()]
duplicates_ids

NameError: name 'duplicates_ids' is not defined

In [ ]:
#assess the reason for recurring ids == different scents/sizes for different products
df.loc[df["id"] == 1973841]

In [ ]:
df.loc[df["id"] == 1858133]

In [ ]:
#evaluate quality of column data
print(df["brand"].unique())
df["brand"].nunique()

In [ ]:
#evaluate quality of column data
brand_counts=(df["brand"].value_counts())
print(brand_counts)
brand_counts.to_list()

In [ ]:
#evaluate quality of column data
print(df["category"].unique())
print(df["category"].nunique())
df["category"].value_counts()

In [ ]:
#evaluate quality of column data
print(df["name"].unique())
print(df["name"].nunique())
df["name"].value_counts()

In [ ]:
# gift_cards1=df.loc[df["name"]=="Gift Card"]
# gift_cards2 = df.loc[df["name"]=="Happy Birthday Gift Card"]
# gift_cards = pd.DataFrame(gift_cards1,gift_cards2)

In [ ]:
#evaluate quality of column data
print(df["size"].unique())
print(df["size"].nunique())
df["size"].value_counts()

In [ ]:
#evaluate quality of column data
print(df["rating"].unique())
print(df["rating"].nunique())
df["rating"].value_counts()

In [ ]:
df["rating"].describe()

In [ ]:
good_rating = df.loc[df["rating"]>= 4.5]
good_rating

In [ ]:
zero_stars_df = df.loc[df["rating"]==0.0]
zero_stars_df

In [ ]:
helpful_stars_df = df.loc[df["rating"] >0.0]
helpful_stars_df.count()
helpful_stars_df

In [ ]:
#evaluate quality of column data
print(df["number_of_reviews"].nunique())

In [ ]:
df["number_of_reviews"].describe()

In [ ]:
#which product has the most reviews
df.loc[df["number_of_reviews"]==19000]

In [ ]:
#how many products have zero "loves"
df.groupby(df["number_of_reviews"] == 0)["URL"].count()

In [ ]:
#how many products have zero reviews? What are they? How many loves do they have?
zero_reviews_df=df.loc[df["number_of_reviews"] == 0]
zero_reviews_df.describe()

In [ ]:
#how many items with 0 reviews are online only products?
zero_reviews_df.loc[df["online_only"]==1]

In [ ]:
#What brands have zero reviews?
print(zero_reviews_df.groupby("brand")["brand"].count().sort_values(ascending=False))
zero_reviews_df

In [ ]:
#Create a df with brands that have one or more reviews?
helpful_reviews_df=df.loc[df["number_of_reviews"] > 0]
helpful_reviews_df

In [ ]:
#Are the products with zero stars equal to the products with zero reviews? NO
helpful_stars_df.equals(helpful_reviews_df)

In [ ]:
#investigate the love central tendencies for the helpful reviews (greater than 0 reviews) df
print("The measures of central tendency for helpful_reviews_df:")
print(helpful_reviews_df["love"].nunique())
print(helpful_reviews_df["love"].min())
print(helpful_reviews_df["love"].max())
print(helpful_reviews_df["love"].mean())
print(helpful_reviews_df["love"].median())
helpful_reviews_df["love"].value_counts(bins = 4)

In [ ]:
#investigate the same for the whole df
print(df["love"].nunique())
print(df["love"].min())
print(df["love"].max())
print(df["love"].mean())
print(df["love"].median())
df["love"].value_counts(bins = 4)

In [ ]:
#which product has the most "loves"
df.loc[df["love"] ==1300000]

In [ ]:
helpful_loves=df.loc[df["love"]<650000]
helpful_loves

In [ ]:
most_loves_outliers=df.loc[df["love"]>650000]
most_loves_outliers

In [ ]:
#how many products have zero "loves" -- 181
df.groupby(df["love"] == 0)["id"].count()

In [ ]:
#Are there any trends in brands?
zero_love_df=df.loc[df["love"] == 0]
zero_love_df.groupby("brand")["brand"].count().sort_values(ascending=False)

In [ ]:
#proportion of brand offerings with zero love = There are no brands that had the majority of their offerings have zero loves
proportions=(zero_love_df.groupby("brand")["brand"].count().sort_values(ascending=False)/(df.groupby("brand")["brand"].count().sort_values(ascending=False))*100)
proportions=proportions.dropna().sort_values(ascending=False)
proportions

In [ ]:
#examine the price colum
print(df["price"].nunique())
df["price"].describe()

In [ ]:
#examine the difference between price and value price
print(df["value_price"].nunique())
df["value_price"].describe()

In [ ]:
#examine the options column
df["options"].nunique()
df["options"].value_counts()

In [ ]:
#examine the details column
print(df["details"].nunique())

In [ ]:
#examine the online only column 1 = True
print(df["online_only"].unique())
print(df["online_only"].nunique())
df["online_only"].value_counts()

In [ ]:
#Examine the exclusive column 1 == exclusive to Sephora
print(df["exclusive"].unique())
print(df["exclusive"].nunique())
df["exclusive"].value_counts()

In [ ]:
#see how many products are limited edition
print(df["limited_edition"].unique())
print(df["limited_edition"].nunique())
df["limited_edition"].value_counts()

In [ ]:
#Which columns offer a mix of exclusivity/limited or online only distribution
df["MarketingFlags"].value_counts()

In [ ]:
#examine the mfcontent column and frequencies
print(df["MarketingFlags_content"].unique())
print(df["MarketingFlags_content"].nunique())
df["MarketingFlags_content"].value_counts()

In [ ]:
#visualize the relationship between ratings and loves
plt.scatter(df.rating, df.love)
plt.xlabel('Rating')
plt.ylabel('Loves')
plt.show()

In [ ]:
#visualize the relationship between ratings and number of reviews
plt.scatter(df.rating, df.number_of_reviews)
plt.xlabel('Rating')
plt.ylabel('Number of Reviews')
plt.show()

In [ ]:
plt.bar(df.online_only, df.number_of_reviews)
plt.xlabel('Online Only')
plt.ylabel('Number of Reviews')
plt.show()

In [ ]:
df.to_csv("beauty_habits_clean.csv")